
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tbody>
	  <tr>
      <div class ="field input-group">
	     <td>
  <div class = "input-group-prepend">
    <span class = "input-group-text">
    Title
    </span>
  </div>

       </td>
      <td>
           <%= form.text_field :title , :class => 'form-control'%>

      </td>
      </div>
    </tr>
  <%= hidden_field_tag "task[course_id]", @task.course_id %>
  <%= hidden_field_tag "task[type]", @task.type %>
  <%= hidden_field_tag "task[reviewed_task_id]", @task.reviewed_task_id %>
<tr>
  <% if @task.instance_of? ReviewTask %>

    <div class ="field input-group">
      <td>
        <div class = "input-group-prepend">
    <span class = "input-group-text">
    Num reviewed artifacts
    </span>
        </div>

      </td>
      <td>
      <%= form.select :num_reviewed_artifacts, options_for_select([2,3,4,5], @task.num_reviewed_artifacts) , {} ,{:class => 'custom-select'} %>
      </td>
    </div>
    </tr>
    <tr>
      <div class ="field input-group">
      <td>
        <div class = "input-group-prepend">
    <span class = "input-group-text">
      Include self review
    </span>
        </div>

      </td>
      <td>
      <%= form.check_box :include_self_review %>
      </td>
    </div>
    </tr>
  <% else %>
    <%= hidden_field_tag "task[num_reviewed_artifacts]", @task.num_reviewed_artifacts %>
    <%= hidden_field_tag "task[include_self_review]", @task.include_self_review %>
    <tr>
      <div class ="field input-group">
      <td>
        <div class = "input-group-prepend">
    <span class = "input-group-text">
      Team size
    </span>
        </div>

      </td>
      <td>
      <%= form.select(:team_size, options_for_select([1, 2, 3, 4, 5], @task.num_reviewed_artifacts )) %>
      </td>
    </div>
  <% end %>
</tr>
  <tr>
    <div class ="field input-group">
    <td>
      <div class = "input-group-prepend">
    <span class = "input-group-text"> Description
    </span>
      </div>
    </td>
    <td>
    <%= form.text_area :description , :class => 'form-control'%>
    </td>
  </div>
  </tr>
  <tr>
    <div class ="field input-group">
    <td>
      <div class = "input-group-prepend">
    <span class = "input-group-text">
      Starts at
    </span>
      </div>

    </td>
    <td>
      <%= form.datetime_select :starts_at %>
    </td>
  </div>
  </tr>
  <tr>
    <div class ="field input-group">
    <td>
      <div class = "input-group-prepend">
    <span class = "input-group-text">
        Ends at
    </span>
      </div>
    </td>
    <td>
    <%= form.datetime_select :ends_at %>
    </td>
  </div>
  </tr>
   <tr>
     <div class ="field input-group">
    <td>
      <div class = "input-group-prepend">
    <span class = "input-group-text">
      Archived
    </span>
      </div>

    </td>
    <td>
    <%= form.check_box :archived %>
    </td>
  </div>
   </tr>
  <tr>
  <div class="actions">
    <td></td>
    <td>
    <%= form.submit "Update Task", :class => "btn btn-info" %>
    </td>
  </div>

  </tr>
  </tbody>
  </table>
<% end %>
