<h1>Your courses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr bgcolor = '#8fbc8f'>
        <td><%= course.title %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Submission Task', :controller => "tasks", :action => "new", :course_id => course.id, :type =>"SubmissionTask" %></td>
        <td><%= link_to 'Manage Participants', courses_list_users_path(:id => course.id) %></td>
      </tr>
      <% tasks = course.submission_tasks %>
      <% tasks.each do |task| %>
        <tr bgcolor="#ffffe0">
          <td><%= link_to task.title, edit_task_path(task) %></td>
          <%if task.review_tasks.empty? %>
            <td><%= link_to 'New Review Task', :controller => "tasks", :action => "new", :course_id => course.id, :type =>"ReviewTask", :reviewed_task_id => task.id %></td>
          <% else %>
            <td> <%= link_to task.review_tasks.first.title, edit_task_path(task.review_tasks.first)%></td>
            <td> <%= link_to "Edit Review Rubric", questions_edit_questionnaire_path(:review_task_id => task.review_tasks.first.id)%></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Course", new_course_path if logged_in?(:admin, :instructor, :instructor_pending ) %>
