<h1>Participants in Course "<%=@course.title %>"</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.first_name %>, <%=user.last_name %></td>
        <td><%=user.email %></td>
      </tr>
    <% end %>
  <tbody>

  <%= form_tag "add_user", :method => "post", :class => "form-inline" do  %>
    Enter a user's registered Email: <%= text_field :user, :email, {:size => 20} %>
    <%= hidden_field_tag "course_id", @course.id%>
    <input id="add" type="submit" value="add">
  <% end %>

</table>


