<!-- Added striped tables + solved Issue #1-->

<h1>Participants in Course "<%= @course.title %>"</h1>

<%= form_tag "add_user", :id => "part_add", :method => 'post', :class => "form-inline", :remote => true do %>
  Enter a user's registered Email: &nbsp
  <%= text_field :user, :email, {:size => 20, :class => "form-control", :style => "width: 250px"} %>
  <%= hidden_field_tag "id", @course.id %>
  <input id='add' type='submit' value='Add' class="btn btn-md btn-default"/>
<% end %>

<table class='table table-striped'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %>, <%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>

