<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bacui</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="container-fluid cover-container d-flex h-100 p-3 mx-auto flex-column">
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= render "shared/application_nav" %>

      <%= yield %>

      <%= render "shared/application_footer" %>

    </div>
  </body>
</html>
